<!DOCTYPE html>
{% load static %}
<html lang="en"
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
    initial-scale=1.0">
    <title>Shopify_Website</title>
    <link rel="stylesheet" href= "{% static 'inventory/css/bootstrap.css' %}">
    
</head>
<body>
    <div class="container mt-5">
        <h2 class="text-center alert alert-danger">Shopify_Inventory_Details</h2>
        {% block content %}  {% endblock content %}
    </div>    
    <script src="{% static 'inventory/js/bootstrap.js' %}"></script>
</body>
</html>        